:root {
  --white: #ffffff;
  --black: #000000;
  --gray: #8F95A5;
  --grey: #F5F5F5;
  --dark: #263238;
  --font-stack: "Poppins", sans-serif;
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
  scroll-behavior: smooth;
}
body {
  font-family: var(--font-stack);
  background-color: #fff;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 15px;
}
/* Header */
.site-header {
  padding: 30px 0px;
}
.site-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.site-menu {
  display: flex;
  align-items: center;
  gap: 40px;
}
.site-menu-link {
  font-size: 19px;
  font-weight: 500;
  color: var(--dark);
}
.site-nav-btn {
  font-size: 22px;
  font-weight: 400;
  color: var(--black);
  border: 2px solid var(--dark);
  padding: 15px 50px;
  border-radius: 5px;
}
.site-mobile-menu {
  display: none;
  cursor: pointer;
  border: none;
  background: var(--white);
}
/* Hero */
.site-hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.site-hero-title {
  font-weight: 600;
  font-size: 60px;
  line-height: 80px;
  width: 310px;
}
.site-hero-content-text {
  color: var(--gray);
  line-height: 36px;
  font-weight: 400;
  font-size: 22px;
  width: 480px;
  padding: 40px 0px;
  margin-bottom: 50px;
}
.site-hero-btn {
  background-color: var(--dark);
  color: var(--white);
  padding: 25px 90px;
  font-size: 24px;
  border-radius: 15px;
}
/* Skills */
.site-skills {
  text-align: center;
  margin-top: 140px;
}
.site-skills-title {
  color: var(--black);
  font-size: 45px;
  line-height: 70px;
  font-weight: 600;
}
.site-skills-main {
  margin-top: 60px;
  display: grid;
  grid-template-areas:
    'first first second second third third'
    'first first fourth fourth fourth fourth';
  gap: 20px;
}
.site-skills-box {
  background-color: var(--grey);
  padding: 40px;
  text-align: initial;
  border-radius: 10px;
}
.skills-box1 {
  grid-area: first;
}
.skills-box2 {
  grid-area: second;
}
.skills-box3 {
  grid-area: third;
}
.skills-box4 {
  grid-area: fourth;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.site-skills-box-heading {
  font-size: 30px;
  line-height: 80px;
  color: var(--dark);
  font-weight: 600;
}
.site-skills-box-p {
  font-size: 15px;
  line-height: 24px;
  color: var(--gray);
  font-weight: 400;
  margin-bottom: 55px;
}
.site-skills-box-btn {
  background-color: var(--dark);
  color: var(--white);
  padding: 16px 60px;
  border-radius: 5px;
  font-size: 18px;
  line-height: 27px;
  font-weight: 500;
  white-space: nowrap
}
/* About */
.site-about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 280px;
}
.site-about-content {
  width: 650px;
}
.site-about-heading {
  color: var(--black);
  font-size: 48px;
  line-height: 80px;
  font-weight: 600;
}
.site-about-info {
  font-size: 18px;
  line-height: 27px;
  color: var(--gray);
  margin-top: 20px;
}
.site-about-stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}
.site-about-stats-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.site-about-stats-num {
  font-size: 45px;
  line-height: 75px;
  color: #2A3246;
  font-weight: 600;
}
.site-about-stats-text {
  color: var(--gray);
  font-size: 20px;
  line-height: 30px;
}
/* Pricing */








@media only screen and (max-width: 1000px) {
  .site-skills-main {
    grid-template-areas:
      'first first second second'
      'third third fourth fourth';
    gap: 20px;
  }
  .site-skills-box {
    text-align: center;
  }
  .skills-box4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column-reverse;
  }
  .site-about {
    margin-top: 130px;
  }
  .site-about-heading {
    font-size: 40px;
    line-height: 70px;
  }
  .site-about-info {
    font-size: 15px;
    line-height: 20px;
    margin-top: 20px;
  }
}
@media only screen and (max-width: 992px) {
  .site-menu {
    gap: 25px;
  }
  .site-menu-link {
    font-size: 18px;
  }
  .site-nav-btn {
    font-size: 18px;
    padding: 12px 40px;
  }
  .site-main {
    margin-top: 60px;
  }
  .site-hero-title {
    font-size: 40px;
    line-height: 60px;
    width: 100%;
  }
  .site-hero-content-text {
    line-height: 30px;
    font-size: 20px;
    width: 420px;
    margin-bottom: 20px;
  }
  .site-hero-btn {
    padding: 20px 80px;
    font-size: 20px;
    border-radius: 13px;
  }
  .site-about-stats-num {
    font-size: 35px;
    line-height: 60px;
  }
  .site-about-stats-text {
    font-size: 16px;
    line-height: 20px;
  }
}
@media only screen and (max-width: 768px) {
  .container {
    padding: 0px 30px;
  }
  .site-menu, .site-nav-btn {
    display: none;
  }
  .site-mobile-menu {
    display: block;
  }
  .site-hero-title {
    font-size: 35px;
    line-height: 45px;
  }
  .site-hero-content-text {
    line-height: 24px;
    font-size: 16px;
    width: 100%;
    padding: 20px 0px;
    margin-bottom: 20px;
  }
  .site-hero-btn {
    padding: 17px 60px;
    font-size: 17px;
  }
  .site-skills-main {
    grid-template-areas:
      'first first'
      'second second'
      'third third'
      'fourth fourth';
    gap: 20px;
  }
  .site-about {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
  }
  .site-about-content {
    width: 100%;
  }
}
@media only screen and (max-width: 600px) {
  .site-hero {
    display: flex;
    flex-direction: column-reverse;
  }
  .site-hero-content {
    text-align: center;
  }
  .site-hero-title {
    font-size: 33px;
    line-height: 43px;
  }
  .site-hero-content-text {
    line-height: 24px;
    font-size: 16px;
    width: 100%;
  }
}
@media only screen and (max-width: 500px) {
}
@media only screen and (max-width: 400px) {
}